@charset "UTF-8";

@font-face { font-family: "Roboto"; src: url("../fonts/roboto/Roboto-Regular.eot"), url("../fonts/roboto/Roboto-Regular.ttf"), url("../fonts/roboto/Roboto-Regular.woff"), url("../fonts/roboto/Roboto-Regular.woff2"); }
@font-face { font-family: "bm"; src: url("../fonts/bm/bm.ttf"); }
@font-face { font-family: "Teko"; src: url("../fonts/Teko/Teko-SemiBold.ttf"); }
@font-face { font-family: "Marck Script"; src: url("../fonts/Marck_Script/MarckScript-Regular.ttf");}

@import url(../icons/font-awesome/css/font-awesome.min.css);
@import url(../icons/simple-line-icons/css/simple-line-icons.css);
@import url(../icons/weather-icons/css/weather-icons.min.css);
@import url(../icons/cryptocoins/css/cryptocoins.css);
@import url(../icons/cryptocoins/css/cryptocoins-colors.css);
@import url(../icons/linea-icons/linea.css);
@import url(../icons/ionicons/css/ionicons.css);
@import url(../icons/themify-icons/themify-icons.css);
@import url(../icons/flag-icon-css/flag-icon.min.css);
@import url(../icons/material-design-iconic-font/materialdesignicons.min.css);
@import url(../icons/pe-icon-set-weather/css/pe-icon-set-weather.min.css);